[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-shutter
Exec=harbour-shutter
Name=Camera
Name[ru]=камера

[X-Sailjail]
Permissions=Audio;Location;RemovableMedia;Pictures;Videos
OrganizationName=uk.co.piggz
ApplicationName=ShutterCamera
Sandboxing=Disabled
